/* general */
.hidden {
    display: none;
}
.box { /*il est là pour que le footer n'empeche pas
        de voir le contenu de la page quand la taille
        de fenetre est trop petit*/
  display: none;
}
.flex { /* pour les elements flex */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
/* images */
img { /* proprietes de base pour toutes les images */
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* texte */
body {
  font-family: verdana;
}
h1 {
  font-size: 160%;
  font-weight: bold;
}
h5 {
  font-size: 115%;
  font-weight: bold;
}
strong {
  color: #00a4d3;
  font-weight: bold;
}

/* liens */
a {
  color: #3b4754;
}
a:hover {
  color: #00a4d3;
}
a.arrow { /* liens avec une fléche*/
  text-decoration: none;
  font-weight: bold;
}
a.nav { /* pour les liens du menu
  (puis on va avoir beaucoup de liens a l'interieur du texte,
  sans les fléches, alors on veux les avoir soulignés en général) */
  text-decoration: none;
}

/* bouttons */
  /*sauf pour boutton "appliquer" –
  il fait partie du menu responsif (voir plus bas)*/
.button {
  color: white;
  padding: 12px 15px;
  text-align: center;
  display: inline-block;
  font-size: 90%;
  margin: 4px 2px;
  border-radius: 35px;
  font-weight: bold;
  background-color: #00a4d3;
}
.button:hover {
  background-color: #3b4754;
}

/* slides sur la page d'accueil */
.slideshow a {
  text-decoration: none;
  color: white;
}
.slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
  object-fit: cover;
}
.slide {
  position: relative;
  max-width: 100%;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
.avis { /*c'est pas si joli si on agrandit la page de plus
        que 130% avec la fenetre très petit, mais on croit
        si l'utilisateur le fait, c'est à lui*/
  color: #f2f2f2;
  font-size: 90%;
  position: absolute;
  bottom: 3px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  text-align: center;
  overflow: scroll;
}
.slideshow p:first-child {
  font-style: italic;
  text-align: left;
  padding: 5px 30px 0 20px;
}
.slideshow p:last-child {
  text-align: right;
  padding: 0px 20px 5px 30px;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  margin-top: -22px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 110%;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.5);
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: 0.6s ease;
}
.dots {
  text-align: center;
  justify-content: center;
}
.actif, .dot:hover {
  background-color: #717171;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/**ELEMENTS RESPONSIFS**/

    /*le site a été créé seulement pour l'ordinateur,
    on n'a pas de posibilité de tester sur mobile.
    Pourtant, on voulait le faire plus au moins fonctionnel
    et lisible idependamment de la taille de la fenetre
    et d'agrandissement fait par ctrl et +/- */

/*menu responsif*/
@media only screen and (max-width: 730px) {
  nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 2;
    left: -155px;
    font-size: 120%;
  }
  .dropdown {
    margin: 2%;
    background-color: #edf0f4;
    left: 10px;
    position: relative;
    border-radius: 5px;
    width: 165px;
    left: 10px;
    padding: 5px;
  }
  .drop-content {
    display: none;
    margin-top: 5px;
  }
  .sub {
    font-size: 80%;
    margin-left: 5px;
    padding: 5px;
  }
  a.nav, .sup {
    position: relative;
    left: 10px;
    transition: 0.3s;
  }
  .icon {
    position: absolute;
    right: 9px;
    top: 5px;
  }
  .dropdown:hover .drop-content {
    display: block;
  }
  .dropdown:hover {
    left: 145px;
  }
  .dropdown:hover .icon {
    display: none;
  }
  #logo-SDL-petit {
    position: relative;
    width: 25px;
    left: 160px;
    top: 0;
    padding-bottom: 8px;
  }
  #logo-SDL {
    display: none;
  }
  #logo-SU {
    width: 25px;
    left: 160px;
    position: relative;
    padding-bottom: 8px;
  }
}
@media only screen and (min-width: 731px) {
  nav {
   position: fixed;
   top: 0;
   right: 0;
   background-color: #edf0f4;
   width: 100%;
   display: flex;
   justify-content: right;
   align-items: center;
   z-index: 2;
   padding: 1% 3% 1% 0;
   color: #3b4754;
  }
  .dropdown {
    overflow: hidden;
  }
  .drop-content {
    display: none;
    position: absolute;
    padding: 5px 5px;
    z-index: 3;
    background-color: #edf0f4;
  }
  .nav {
   padding: 5px 15px 5px 5px;
   z-index: 2;
  }
  .drop-content a {
    font-size: 80%;
  }
  .sub {
    margin: 5px;
  }
  .dropdown:hover .drop-content {
    display: block;
  }
  #appliquer {
    background-color: #3b4754;
    padding: 10px 10px;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 90%;
    border-radius: 35px;
    font-weight: bold;
  }
  #appliquer:hover {
    background-color: #00a4d3;
  }
  #logo-SU {
    max-width: 4%;
    position: absolute;
    left: 5%;
    z-index: 3;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding:2px;
  }
  #logo-SDL {
    width: 11%;
    position: absolute;
    left: 10%;
    z-index: 3;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  #logo-SDL-petit {
    display: none;
  }
  .icon {
    display: none;
  }
}

/* mise en page responsive */
  /*comme disent les informatitiens – ça marche chez nous! –
  mais en fait on n'avait pas de possibilité de le tester sur plusieurs
  appareils; le texte nous semble lisible idependamment de
  la taille de fenetre et de l'agrandissement fait avec ctrl et +/- */
@media only screen and (max-width: 300px) {
  main {
    position: relative;
    top: 30px;
    width: 100%;
  }
  section {
    width: 75%;
  }
  .box {
    display: block;
    height: 55px;
  }
  .dot {
    height: 5px;
    width: 5px;
  }
}
@media only screen and (max-width: 450px) {
  body {
    font-size: 10px;
  }
  main {
    position:relative;
    top: 30px;
  }
  section {
    width: 80%;
  }
  .box {
    display: block;
    height: 30px;
  }
}
@media only screen and (min-width: 451px) and (max-width: 730px) {
  body {
    font-size: 11px;
  }
  main {
   position: relative;
   top: 50px;
  }
  section {
    width: 85%;
  }
  .box {
    display: block;
    height: 60px;
  }
}

@media only screen and (min-width: 731px) and (max-width: 1000px){
  body {
    font-size: 12px;
  }
  main {
    top: 45%;
    transform: translateY(-45%);
    position: absolute;
  }
  section {
    width: 40%;
    padding: 10px;
  }
}
@media only screen and (min-width: 1001px) {
  body {
    font-size: 14px;
  }
  main {
    top: 20%;
    transform: translateY(-30%);
    position: absolute;
    width: 1000px;
    left: 50%;
    transform: translateX(-50%)
  }
  section {
    width: 45%;
    padding:15px;
  }
}

/* pied de page responsif */
footer { /*proprietés de base*/
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #edf0f4;
}
footer p {
  margin:0;
}
@media only screen and (max-width: 380px) {
  footer {
    font-size: 70%;
    height:40px;
    padding:5px
  }
}
@media only screen and (min-width: 381px) and (max-width: 450px) {
  #copyright {
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    margin-left: 2%;
  }
  #mail {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position:absolute;
    right:0;
    margin-right: 2%;
    text-align: right;
  }
  footer {
    font-size: 80%;
    height:50px;
  }
}
@media only screen and (min-width: 451px) {
  #copyright {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    left: 0;
    margin-left: 3%;
  }
  #mail {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    right:0;
    margin-right: 3%;
    text-align: right;
  }
  footer {
    font-size: 80%;
    height:70px
  }
}
